<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon="icon ion-social-windows" href="#/menu/index">
    <ion-nav-view name="menu-index"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->   
  <ion-tab title="文章" icon="icon ion-code" href="#/menu/article/">
    <ion-nav-view name="menu-article"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="设置" icon="icon ion-settings" href="#/menu/account">
    <ion-nav-view name="menu-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
