<div id="chatbox" class="modal slide-in-up" ng-controller="chatboxCtrl">
    <header class="bar bar-header bar-assertive">
        <h1 class="title">所有牛评</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">
            <i class="icon ion-ios7-close-outline"></i>
        </button>
    </header>
    <ion-content class="padding has-header">
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="我也说几句"></textarea>
            </label>
            <button class="button button-full button-assertive">
                提交
            </button>
        </div>

    </ion-content>
</div>