<ion-view title="">
   <ion-nav-bar class="bar-assertive text-center">
       <h1 class="title logoImg"></h1>
  </ion-nav-bar>
  <ion-content class="padding">
      <ion-list>
          <ion-item ng-repeat="class in bclass" type="item-text-wrap" href="#/tab/friends/{{class.bclass.bclassid}}">
              {{class.bclass.bclassname}}
          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
<style>
    .logoImg {
        margin: 0 auto;
        background: url("img/homeLogo.png") no-repeat center;
        background-size: 40%;
    }
</style>